
  <div class="container collection-description-wrapper">
    <h2 class="collection-description">
      {{ collection.description }}
    </h2>
  </div>

{% schema %}
  {
    "name": "Section name",
    "settings": [],
      "presets": [
    {
      "name": "collection-description"
    }
  ]
  }
{% endschema %}