/* 
cc: contact costum
*/

.cc {
    padding-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.cc_container {
    margin-bottom: 50px;
}

.cc_input-row {
    @media(min-width: 992px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8px;
    }
}

.cc-container-form-input {
    background-color: transparent;
    border-radius: 0;
    display: block;
    line-height: 46px;
    font-size: 16px;
    border: 1px solid #e4e4e4;
    outline: 0;
    margin-bottom: 10px;
    padding: 0 16px;
    transition: 0.2s;
    width: 100%;
}

.cc-container-form-input::placeholder {
    font-size: 16px;
}

.cc_textarea {
    background-color: transparent;
    border: 1px solid #e4e4e4;
    padding: 0 16px;
    width: 100%;
}

.cc_textarea::placeholder {
    font-size: 16px;
}

.cc_button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
}

.cc_button {
    color: #ed3b30;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    outline: 0;
    font-size: 16px;
    line-height: 19px;
    padding: 16px 20px;
    font-weight: 600;
    border: 1px solid #ed3b30;
    cursor: pointer;
}

@media (min-width: 990px) {
    .cc_button-container {
        justify-content: flex-end;
    }
}